<?xml version="1.0" encoding="UTF-8"?>
<!-- All four attributes are obligatory!

	name		- name for table in database
	short_name	- displaying in overviewer
	unit		- self explaining
	daemon		- daemon which collects specified data
	series_set	- set to which parameter belongs to in overviewer
-->
<parameters>
	<param name="Random_number_1" short_name="Rand 1" unit="" daemon="../Daemons/get_random_int.py" series_set="Random set"/>
	<param name="Random_number_2" short_name="Rand 2" unit="" daemon="../Daemons/get_random_int.py" series_set="Random set"/>
	<param name="Random_number_3" short_name="Rand 3" unit="" daemon="../Daemons/get_random_int.py" series_set="Random set"/>
	<param name="Random_number_4" short_name="Rand 4" unit="" daemon="../Daemons/get_random_int.py" series_set="Random set"/>
	<param name="Random_number_5" short_name="Rand 5" unit="" daemon="../Daemons/get_random_int.py" series_set="Random set"/>
</parameters>
